<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("gem.png", alt: "Rubymart Logo", id: "rbmrtlogo"), '/home' %>
    <%= link_to "Rubymart", '/home', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/home' %></li>
        <li><%= link_to "About",   '/about' %></li>
        <li><%= link_to "Help",   '/help' %></li>

        <% if logged_in? %>
        <li><%= link_to "Bijous", '/bijous' %></li>
        <li><%= link_to "#{@current_rockhound.name}", "/profile/#{current_rockhound.id}" %></li>
        <li><%= link_to "Log Out", '/logout', method: "delete" %></li>

        <% else %>
        <li><%= link_to "Log In", '/login' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
