<p id="notice"><%= notice %></p>

<h1>Rockhounds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rockhounds.each do |rockhound| %>
      <tr>
        <td><%= rockhound.name %></td>
        <td><%= rockhound.email %></td>
        <td><%= link_to 'Show', rockhound %></td>
        <td><%= link_to 'Edit', edit_rockhound_path(rockhound) %></td>
        <td><%= link_to 'Destroy', rockhound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rockhound', new_rockhound_path %>
