<% provide(:title, @rockhound.name) %>
<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @rockhound.name %>
</p>

<p>
    <strong>Email:</strong>
    <%= @rockhound.email %>
</p>
<div class="center">
    <%= link_to 'Edit', edit_rockhound_path(@rockhound) %>
    |
    <%= link_to 'Back', rockhounds_path %>
</div>
